{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Fundamental{% endblock %}</h1>
{% endblock %}

{% block content %}
<span>According to analysis based on {{ model }} model inner value of {{ ticker }} is {{ total }}.</span><br/>
<span>Years of payment: {{ years }}</span><br/>
<span>Discount rate: {{ rate }}</span><br/>
<span>Growth rate: {{ growth }}</span><br/>
<span>Terminal value is {{ terminal }}</span><br/>
<span>Observations are:
{% for o in observations %}
  <li>{{ o }}</li>
{% endfor %}

<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	theme: "light2",
	title:{
		text: "Observations"
	},
	data: [{
		type: "line",
      	indexLabelFontSize: 16,
		dataPoints: {{ points|safe }}
	}]
});
chart.render();

}
</script>

<div id="chartContainer" style="height: 300px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<br/>
<input type="button" value="Export to PDF">
{% endblock %}
